<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URL" value="http://47.94.136.118:8086"/>
		<add key="token" value="ywl9CYvmOqA-hLld7_b2nQzf3d_K1j4x1RDBdm8wv79rHelBeDZ8LJlemNvl9-ED461K9GKVa7wnP8hf0Gfukw=="/>
		<add key="org" value="FHD"/>
		<add key="bucket" value="my-bucket"/>
		<add key="interval" value="1000"/>
		<add key="count" value="5000"/>
	</appSettings>
</configuration>